@import "../../theme/variables.scss";
@import "~include-media/dist/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, medium: 992px, desktop: 1024px);

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  dd {
    margin-bottom: 15px;
  }
  .galleryContainer {
    height: calc(100vh - 76px);
    .gallery {
      position: relative;
      z-index: 1;
      overflow: hidden;
      height: 100%;

      .gallerySlideWrapper {
        height: 100%;

        .slick-arrow {
          @include media("<tablet") {
            display: none !important;
          }
          z-index: 1000;
          border-radius: 64px;
          margin-top: -32px;
          width: 64px;
          height: 64px;
          background-color: rgba(180,180,180,0.25);
          color: #848484;
          font-size: 35px;
          line-height: 62px;
          text-align: center;
          opacity: 0.3;
          @include transition(opacity 0.5s ease-in-out);
          &:hover{
            opacity: 1;
          }
        }//slick-arrow

        .slick-prev{
          left: 18px;
          &:before {
            content: "";
          }
          &:after {
            font-family: FontAwesome;
            content: "\f104";
          }
        }

        .slick-next{
          right: 18px;
          &:before {
            content: "";
          }
          &:after {
            font-family: FontAwesome;
            content: "\f105";
          }
        }

        .slick-slider {
          height: 100%;
          .slick-list {
            height: 100% !important;
            .slick-track {
              height: 100%;
            }
          }
        }//slick-slider

        .slick-dots {
          // position: absolute;
          z-index: 1000;
          bottom: 20px;
          width: 100%;
          text-align: center;
          line-height: 1;
          // margin-top: -40px;
          .slick-active {
            opacity: 1 !important;
          }
          li {
            list-style: none;
            margin: 0 5px;
            width: 50px;
            height: 22px;
            // float: left;
            position: relative;
            opacity: 0.2;
            @include transition(opacity 500ms ease);

            button {
              top: 0;
              left: 0;
              width: 50px;
              height: 2px;
              outline: none;
              position: absolute;
              padding: 10px 0;
              box-sizing: content-box;
              background-color: rgba(128,128,128,1);
              background-clip:content-box;
              &:before {
                content: "";
              }
            }
          }
        }
      }//gallerySlideWrapper
    }

    .galleryItem {
      display: block;
      //position: absolute;
      z-index: 1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      color: #333;
      will-change: transform;

      .galleryMoreblock{
        .more{
          // color: #0070c9;
          font-size: 18px;
          line-height: 1.45455;
          font-weight: 300;
          letter-spacing: .016em;
          // color: #5079d9;
          color: #0070c9;
          cursor: pointer;
          font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
          &:after {
            font-family: FontAwesome;
            content: "\f105";
            padding-left: 10px;
          }
        }
      }

      .galleryItemContent {
        text-align: center;
        width: 100%;
        padding-top: 20px;
        z-index: 9999;
        &.absolute {
          position: absolute;
        }
        @include media(">=tablet") { // center things
          justify-content: center;
          display: flex;
          flex-flow: column wrap;
          align-content: center;
          align-items: center;
        }
        @include media("<tablet") {
          padding-top: 60px;
        }
        h3 {
          padding-left: 0.5em;
          &.white {
            color: #ffffff;
            font-weight: 200;
          }
        }
      }
    }

    .galleryImage {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .galleryImageTest {
      background-size: auto 75%;
      background-position: center center;
      background-repeat: no-repeat;
      // background-image: url('./jade.jpg');
      background-image: url('./macbookpro_large.jpg');
      //top: 5%;
    }

    .galleryImageClassic {
      background-size: auto 85%;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('./jade.jpg');
      //top: 5%;
    }  
    .galleryImageClassicBlack {
      width: auto;
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      background-position: top;
      // margin-top: 15px;
      // background-color: #e6b2b2;
      
      @include media(">=desktop") {
        // height: 600px;
        background-image: url('./neck_black_large.jpg');
      }
      @include media(">=desktop", "retina2x") {
        background-image: url('./neck_black_large_x2.jpg');
      }

      @include media(">=tablet", "<desktop") {
        background-image: url('./neck_black_medium.jpg');
        height: 400px;
      }
      @include media(">=tablet", "<desktop", "retina2x") {
        background-image: url('./neck_black_medium_x2.jpg');
      }

      @include media("<tablet") {
        background-image: url('./neck_black_small.jpg');
        height: 350px;
      }
      @include media("<tablet", "retina2x") {
        background-image: url('./neck_black_small_x2.jpg');
      }
    }

    .galleryImageSnowWhite {
      background-size: auto 100%;
      background-position: center center;
      background-repeat: no-repeat;
      margin: -40px auto;
      @include media(">=desktop") {
        width: 289px;
        height: 400px;
        background-image: url('./neck_snow_white_large.png');
      }
      @include media(">=desktop", "retina2x") {
        background-image: url('./neck_snow_white_large_x2.png');
      }

      @include media(">=tablet", "<desktop") {
        width: 289px;
        height: 400px;
        background-image: url('./neck_snow_white_small.png');
      }
      @include media(">=tablet", "<desktop", "retina2x") {
        background-image: url('./neck_snow_white_small_x2.png');
      }

      @include media("<tablet") {
        width: 289px;
        height: 400px;
        background-image: url('./neck_snow_white_small.png');
      }
      @include media("<tablet", "retina2x") {
        background-image: url('./neck_snow_white_small_x2.png');
      }
      //top: 5%;
    }

  }
}