@import "~include-media/dist/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, medium: 992px, desktop: 1024px);

.navbar-default {
  background-color: #fefefe;
  .navbar-brand {
    color: #000;
    font-size: 24px;
  }

  .nav .navbar-nav{
      border-color: #e7e7e7;
      margin-left: auto;
      max-width: 800px;
  }
  .navbar-nav > li > a {
    color: #000;
  }
  @include media(">=tablet", "<medium") {
    .container {
      width: 100%;
    }
  }
}

/*
@include media("<medium") {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*/

.medium {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@include media(">=medium") {
  .navbarNavLeft {
    // margin-left: 50%;
    // transform: translate(-50%,0);
    // max-width: 600px;
    > li {
      margin: 0px 15px 0px 15px;
    }
  }
  .navbarNavRight {
    // margin-left: -50%;
    // max-width: 600px;
  }
}

.brand {
  position: absolute;
  $size: 40px;
  top: 5px;
  left: 5px;
  display: inline-block;
  background: #2d2d2d url('../../../static/logo.png') no-repeat center center;
  width: $size;
  height: $size;
  background-size: 80%;
  margin: 0 10px 0 0;
  border-radius: $size / 2;
}

nav :global(.fa) {
  font-size: 2em;
  line-height: 20px;
}