@import "~include-media/dist/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, medium: 992px, desktop: 1024px);

$footerColumnHeight: 170px;

.footer {
  background-color: #fafafa;
  // @include media(">=medium") {
  //   padding-left: 60px;
  //   padding-right: 60px;
  // }
  // @include media(">=tablet", "<medium") {
  //   padding-left: 30px;
  //   padding-right: 30px;
  // }
  @include media("<medium") {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footerContent {
    margin: 0 auto;
    max-width: 992px;
  }

  .footerBrand {
    height: $footerColumnHeight;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  .contactUs {
    height: $footerColumnHeight;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    p {
      font-size: 14px;
      opacity: 0.38;
    }  
    @include media("<tablet") {
      display: none;
    }

  }

  .contactSocial {
    width: 100%;
    margin-top: -20px;
    &.smHide {
      @include media(">=tablet") {
        display: none;
      }
    }
    .contactQQ {
      $size: 40px;
      display: inline-block;
      background: url('./qq.png') no-repeat center center;
      width: $size;
      height: $size;
      background-size: 70%;
      margin: 0 10px 0 0;
      border-radius: $size / 2;
    }
    .contactWeibo {
      $size: 40px;
      display: inline-block;
      background: url('./weibo.png') no-repeat center center;
      width: $size;
      height: $size;
      background-size: 90%;
      margin: 0 10px 0 0;
      border-radius: $size / 2;
    }
    .contactWechat {
      $size: 40px;
      display: inline-block;
      background: url('./wechat2.png') no-repeat center center;
      width: $size;
      height: $size;
      background-size: 100%;
      margin: 0 10px 0 0;
      border-radius: $size / 2;
    }
  }


  .helpContent {
    height: $footerColumnHeight;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  }

  .helpRow {
    display: flex;
    flex-flow: row wrap;
    @include media(">=tablet") {
      align-items: center;
      // justify-content: center;
      align-content: center;
      text-align: center;
      width: 70%;
    }

    @include media("<tablet") {
      border-bottom: 1px solid #e3e3e3;
    }

    h4 {
      // width: 100%;
      margin: 5;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        color: #757575;
        font-size: 14px;
        padding: 6px 0;
        line-height: 1;
        padding-left: 40px;
        // width: 100%;
      }
    }
  }//helpRow

  .helpColumn {
    display: flex;
    flex-flow: row wrap;
    @include media(">=tablet") {
      height: $footerColumnHeight;
      align-items: center;
      justify-content: center;
      align-content: flex-start;
      text-align: center;
      padding-top: 20px;
    }

    @include media("<tablet") {
      border-bottom: 1px solid #e3e3e3;
    }

    h6 {
      width: 100%;
      margin: 5;

      &.after,
      &:after {
        @include media("<tablet") {
          content: "+";
          font-size: 14px;
          font-weight: normal;
          float: right;
          padding-right: 10px;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 14px;
        @include media("<tablet") {
          font-size: 12px;
          padding-left: 14px;
        }
        float: left;
        color: #757575;
        padding: 6px 0;
        line-height: 1;
        width: 100%;

      }
    }
  }

}

.copyright {
  clear: both;
  color: #434d55;
  font-size: 12px;
  padding: 10px 0 10px;
  margin: 0;
  border-top: 1px solid #e3e3e3;
  h2, h3 {
    // height: 15px;
    line-height: 15px;
    color: #757575;
    font-size: 100%;
    font-weight: 400;
    margin-top: 0;
  }
  h4 {
    clear: both;
    font-size: 100%;
    font-weight: 400;
    color: #bdbdbd;
    font-size: 12px;
    height: 12px;
    line-height: 1;
  }
}