.loginPage {
  height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  .headline {
    text-align: center;
    margin-top: 46px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
