.necklacePage {
  .fpHero {
    // padding-top: 199px;
    color: #333;

    .fpHeroMoreblock{
      .more{
        // color: #0070c9;
        font-size: 22px;
        line-height: 1.45455;
        font-weight: 300;
        letter-spacing: .016em;
        // font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      }
    }
  }

  .fpProductContent {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }

  .flex {
    display: flex;
  }

  .fpSectionContent {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .fpBillboard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .fpBillboardWrapper {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 500px;
  }

  .fpSectionHeader {
    text-align: center;
  }

  .necklaceWhite {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: 219px;
    height: 500px;
    background-size: 219px 500px;
    background-repeat: no-repeat;
    background-image: url('./jade.jpg');
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    // margin-right: -50px;
    // height: 566px;
    height: 500px;
    // float: right;
  }

  .necklaceBlack {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: auto;
    height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('./hero2.jpg');
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    // margin-right: -50px;
    // float: right;
  }


  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
  .headline {
    text-align: center;
    margin-top: 46px;
    margin-bottom: 48px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .gridItem {
    text-align: center;
    //padding-bottom: 32px;
    vertical-align: top;
  }
}
