@import "~include-media/dist/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, medium: 992px, desktop: 1024px);

.necklacePage {
  .fpHero {
    // padding-top: 199px;
    color: #333;
  }

  .fpHeroMoreblock{
    .more{
      // color: #0070c9;
      font-size: 22px;
      line-height: 1.45455;
      font-weight: 300;
      letter-spacing: .016em;
      // font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
  }

  .centeralign {
      padding-left: 0;
  }

  .fpSectionContent {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;

    @include media(">=tablet") { // for same height column
      display: flex;
    }

    .fpProductContent {
      text-align: center;
      @include media(">=tablet") { // center things
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
      }
      @include media("<tablet") {
        padding-top: 60px;
      }
      &.gray {
        background-color: #fafafa;
        padding: 15px 10px 0 0;
        background-clip: content-box;
        @include media("<tablet") {
          padding: 60px 0 0 0;
          background-clip: padding-box;
        }
      }
    }
  }
  .fpSectionContentWider {
    @extend .fpSectionContent;
    max-width: 1280px;
    margin-bottom: 5px;
    .columnImage {
      padding: 0;
    }
  }

  .fpBillboard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;

    .fpProductContent {
      @include media("<tablet") {
        padding-top: 60px;
      }
      @include media(">=tablet") {
        position: absolute;
        z-index: 10;
        left: 167px;
        top: 139px;
      }
    } 
    .fontWhiteLighter {
      @include media(">=tablet") {
        color: #ffffff;
        font-weight: 200;
      }
    }
  }

  .necklaceWhite {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    @include media(">=desktop") {
      width: 300px;
      height: 500px;
      background-image: url('./neck_white_large.png');
    }
    @include media(">=desktop", "retina2x") {
      background-image: url('./neck_white_large_x2.png');
    }

    @include media(">=tablet", "<desktop") {
      width: 200px;
      height: 450px;
      background-image: url('./neck_white_small.png');
    }
    @include media(">=tablet", "<desktop", "retina2x") {
      background-image: url('./neck_white_small_x2.png');
    }

    @include media("<tablet") {
      width: 200px;
      height: 450px;
      background-image: url('./neck_white_small.png');
    }
    @include media("<tablet", "retina2x") {
      background-image: url('./neck_white_small_x2.png');
    }
  }

  .necklaceBlack {
    width: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: top;
    margin-top: 15px;
    // background-color: #e6b2b2;
    
    @include media(">=desktop") {
      height: 600px;
      background-image: url('./neck_black_large.jpg');
    }
    @include media(">=desktop", "retina2x") {
      background-image: url('./neck_black_large_x2.jpg');
    }

    @include media(">=tablet", "<desktop") {
      background-image: url('./neck_black_medium.jpg');
      height: 400px;
    }
    @include media(">=tablet", "<desktop", "retina2x") {
      background-image: url('./neck_black_medium_x2.jpg');
    }

    @include media("<tablet") {
      background-image: url('./neck_black_small.jpg');
      height: 350px;
    }
    @include media("<tablet", "retina2x") {
      background-image: url('./neck_black_small_x2.jpg');
    }
  }


  .necklaceSnowWhite {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    @include media(">=desktop") {
      width: 405px;
      height: 500px;
      background-image: url('./neck_snow_white_large.png');
    }
    @include media(">=desktop", "retina2x") {
      background-image: url('./neck_snow_white_large_x2.png');
    }

    @include media(">=tablet", "<desktop") {
      width: 289px;
      height: 400px;
      background-image: url('./neck_snow_white_small.png');
    }
    @include media(">=tablet", "<desktop", "retina2x") {
      background-image: url('./neck_snow_white_small_x2.png');
    }

    @include media("<tablet") {
      width: 289px;
      height: 400px;
      background-image: url('./neck_snow_white_small.png');
    }
    @include media("<tablet", "retina2x") {
      background-image: url('./neck_snow_white_small_x2.png');
    }
  }

  .necklaceSnowBlack {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: auto;
    height: 500px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    @include media(">=desktop") {
      height: 500px;
      background-image: url('./neck_snow_black_large.jpg');
    }
    @include media(">=desktop", "retina2x") {
      background-image: url('./neck_snow_black_large.jpg');
    }

    @include media(">=tablet", "<desktop") {
      height: 400px;
      background-image: url('./neck_snow_black_medium_x2.jpg');
    }
    @include media(">=tablet", "<desktop", "retina2x") {
      background-image: url('./neck_snow_black_medium_x2.jpg');
    }

    @include media("<tablet") {
      margin-top: 0;
      background-image: url('./neck_snow_black_small.jpg');
      height: 350px;
    }
    @include media("<tablet", "retina2x") {
      background-image: url('./neck_snow_black_small_x2.jpg');
    }
  }
}
