@import "~include-media/dist/_include-media.scss";

$breakpoints: (phone: 320px, tablet: 768px, medium: 992px, desktop: 1024px);

.necklacePage {
  .fpHero {
    // padding-top: 199px;
    color: #333;
    @include media("<tablet") {
      padding-top: 60px;
    }
  }

  .fpHeroMoreblock{
    .more{
      // color: #0070c9;
      font-size: 22px;
      line-height: 1.45455;
      font-weight: 300;
      letter-spacing: .016em;
      // font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
  }

  .centeralign {
      padding-left: 0;
  }

  .fpSectionContent {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;

    @include media(">=tablet") { // for same height column
      display: flex;
    }

    .fpProductContent {
      text-align: center;
      @include media(">=tablet") { // center things
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
      }
    }

  }

  .fpBillboard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 100%;

    .fpProductContent {
      @include media(">=tablet") {
        position: absolute;
        z-index: 10;
        left: 167px;
        top: 139px;
      }
    } 
    .fontWhiteLighter {
      @include media(">=tablet") {
        color: #ffffff;
        font-weight: 200;
      }
    }
  }

  // .fpBillboardWrapper {
  //     position: absolute;
  //     z-index: 2;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     height: 500px;
  // }

  // .fpSectionHeader {
  //   // text-align: center;
  //   position: absolute;
  //   z-index: 10;
  //   top: 313px;
  //   left: 421px;
  // }

  .necklaceWhite {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: 190px;
    height: 500px;
    background-size: 190px 500px;
    background-repeat: no-repeat;
    background-image: url('./jade.png');
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    // margin-right: -50px;
    // height: 566px;
    height: 500px;
    // float: right;
  }

  .necklaceBlack {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: auto;
    height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    // background-color: #e6b2b2;
    background-image: url('./hero2.jpg');
    margin-left: auto;
    margin-right: auto;
    // margin-top: 48px;
    // margin-right: -50px;
    // float: right;
  }
  .necklaceTradition {
    // width: 715px;
    // height: 1005px;
    // background-size: 715px 1005px;
    // background-image: url('./family_ipad_red_large.png');
    width: auto;
    height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    // background-color: #e6b2b2;
    background-image: url('./jade_tradition.jpg');
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    // margin-right: -50px;
    // float: right;
  }

  .necklaceSnowWhite {
    width: 397px;
    height: 500px;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-image: url('./snow.png');
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }
}
